<div class="jumbotron text-left">
  <h1><img src="../../favicon.ico" /><span class="blue">MEAN</span> Measurement</h1>
  <p class="lead">
    With this application you will be able to input measurements into a database
  </p>
</div>

<div class="center">
  <div class="rcorners">
    <h2>Register</h2>
    <p>
      To be able to input measurements, you should first &nbsp;<a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    </p>
  </div>
  <div class="rcorners">
    <h2>Log in</h2>
    <p>
      If you have already registered, you can go ahead and &nbsp;<a class="btn btn-info" [routerLink]="['/login']">Log in</a>
    </p>
  </div>
</div>
